:root {
    --primary-color: #6574cd;
    --primary-color-darker: #434f94;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, Helvetica, Arial, -apple-system, system-ui, sans-serif;
    font-size: 0.75em;
    background: #f4f4f4;
}

template {
    display: none !important;
}

img {
    max-width: 100%;
    height: auto;
}

.container-fluid {
    max-width: 1400px;
}

.btn-outline {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: none;
}
.btn-outline:hover {
    color: var(--primary-color-darker);
    border-color: var(--primary-color-darker);
}

/*--------------------------------------------------
    Header
--------------------------------------------------*/
header {
    padding: 20px 0 0 0;
}
header a#add-notice i {
    margin: 0 1px 0 0;
}

/*--------------------------------------------------
    Notices
--------------------------------------------------*/

#notices {
    padding: 20px 0 0 0;
}
#notices .notice {
    position: relative; /* To position the notice type */
    margin: 0 0 25px 0;
    padding: 11px 18px 15px 18px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    background: #fff;
}
#notices i.notice-type {
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--primary-color);
}
#notices .notice .title {
    margin: 0 0 10px 0;
    font-size: 1.2em;
    font-weight: 500;
}
#notices .notice .content {
    padding: 0 0 10px 0;
}
#notices .notice .content .equal-height-padding {
    visibility: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-size: 0.9em;
    background: #ccc;
}
#notices .notice .content p:last-child {
    margin: 0;
}
#notices .notice .author, #notices .notice .date {
    font-size: 0.9em;
    color: #495057;
}
#notices .notice .date {
    padding: 0 0 10px 0;
}
#notices .notice .date::first-letter {
    text-transform: uppercase;
}
#notices .notice .author {
    margin: 3px 0 2px 0;
}

/*----- Social */
#notices .notice .social {
    margin: 9px 0 0 0;
    color: #666;
    font-size: 0.95em;
}
#notices .notice .social i {
    font-size: 1em;
    color: var(--primary-color);
}
#notices .notice .social .comments-count {
    margin: 0 20px 0 0;
}
#notices .notice .social .comments-count i {
    margin: 0 3px 0 0;
}
#notices .notice .social .likes a {
   margin: 0 0 0 3px;
}

/*--------------------------------------------------
    Modals
--------------------------------------------------*/
.modal {
    top: 0;
    padding: 20px !important;
}
.modal-dialog {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
.modal-content {
    width: 100%;
    margin: 0 auto;
    border-radius: 3px;
}
.modal .modal-header {
    padding: 12px 18px 10px 18px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.modal .modal-header h3.modal-title {
    font-size: 1.4em;
}
.modal .modal-body p:last-child {
    margin: 0;
}
.modal .modal-footer {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.modal .modal-footer button {
    margin: 0;
}

/*----- Notice Modal */
#notice-modal .author{
    margin: 0 0 10px 0;
}

#notice-modal .images .image {
    margin: 15px 0 0 0;
}
#notice-modal .images .image .title {
    display: block;
    margin: 0 0 3px 0;
    font-weight: bold;
}
#notice-modal .images .image img {
    border-radius: 3px;
}

#notice-modal .comments {
    margin: 15px 0 0 0;
}
#notice-modal .comments h4 {
    font-size: 1.4em;
}
#notice-modal .comments .comment {
    margin: 0 0 15px 0;
    padding: 10px;
    border: 1px solid #d2d6db;
    border-radius: 3px;
    background: #fff;
}
#notice-modal .comments .comment:last-child {
    margin: 0;
}
#notice-modal .comments .comment header {
    margin: 0 0 10px 0;
    padding: 0;
}

a#show-comment-form {
    margin: 15px 0 0 0;
}
a#show-comment-form i {
    margin: 0 4px 0 -2px;
}
#add-comment-form {
    display: none;
    margin: 15px 0 0 0;
}

/*----- Add Notice Modal */
#add-notice-modal .modal-dialog {
    max-width: 600px;
}
#add-notice-modal .modal-footer {
    display: none;
}

/*--------------------------------------------------
    Confirm/Cancel Dialog Box
--------------------------------------------------*/
.confirm-cancel-dialog {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(60, 60, 60, 0.6);
}
.confirm-cancel-dialog .content .title {
    margin: 0 0 5px 0;
    padding: 0;
    font-size: 1.3em;
}
.confirm-cancel-dialog .content {
    padding: 16px;
    border-width: 1px;
    border-color: #666;
    border-bottom-style: solid;
    background: #fff;
}
.confirm-cancel-dialog.v-align-center .content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1080; /* https://getbootstrap.com/docs/4.0/layout/overview/#z-index */
    border-top-style: solid;
}
.confirm-cancel-dialog .content .btn:first-of-type {
    margin: 0 5px 0 0;
}

/*--------------------------------------------------
    Pagination
--------------------------------------------------*/
.pagination a {
    color: var(--primary-color);
}
.pagination a:focus {
    box-shadow: initial;
}
.pagination li.active a.page-link {
    color: #fff;
    border-color: #dee2e6;
    background: var(--primary-color);
}

/*--------------------------------------------------
    Form Elements
--------------------------------------------------*/
/*----- Buttons */
.btn {
    margin: 0;
    padding: 4px 11px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 400;
}
.btn:active, .btn:focus, button:active, button:focus  {
    outline: none;
    box-shadow: none !important;
}
.btn-default {
    color: #fff;
    background: var(--primary-color);
}
.btn-default:hover {
    color: #fff;
    background: var(--primary-color-darker);
}
.btn-cancel {
    color: #6574cd;
    border: 1px solid #6574cd;
}
.btn-cancel:hover {
    color: #394171;
    border-color: #394171;
}

/*----- File upload button */
input[type="file"]::file-selector-button {
    margin: 0 5px 0 0;
    padding: 4px 11px;
    font-family: inherit;
    font-size: 12px;
    font-weight: 400;
    color: #6574cd;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #6574cd;
    background: #fff;
}
input[type="file"]::file-selector-button:hover {
    color: #394171;
    border-color: #394171;
}

/*----- Custom checkbox */
input[type="checkbox"] {
    width: 16px !important;
    height: 16px !important;
    margin: 1px 0 0 3px;
    padding: 1px 0 0 0;
    box-sizing: border-box;
    vertical-align: top;
    -webkit-appearance: none; -moz-appearance: none; -o-appearance: none; appearance: none;
    box-shadow: none;
    font-size: 14px;
    text-align: center;
    line-height: 1em;
    outline: none;
    border: 1px solid #d2d6db;
    border-radius: 2px;
    cursor: pointer;
    background: none;
}
input[type="checkbox"]:checked {
    border: none;
    background: var(--primary-color);
}
input[type="checkbox"]:checked:after {
    content: '\2713'; /* Check mark HTML Symbol */
    color: #fff;
}

.form-control {
    font-size: inherit;
    border: 1px solid #d2d6db;
}
.form-control:focus {
    box-shadow: none;
    border-color: #999;
}
label {
    margin: 0 0 3px 0;
    color: #374151;
}
input[type="text"], textarea {
    padding: 7px 10px 8px 10px !important;
    border-radius: 3px !important;
}

/*----- Add Notice Form */
#add-notice-form {
    padding: 0 0 5px 0;
}
#add-notice-form .btn.btn-cancel {
    margin: 0 5px 0 0;
}

/*--------------------------------------------------
    Ads
--------------------------------------------------*/
#ads {
    margin: 20px 0 0 0; /* <header> padding */
}
#ads .ad {
    position: relative; /* To position the ad label */
    margin: 0 0 20px 0;
    padding: 11px 18px 15px 18px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    background: #fff;
}
#ads .ad:not([data-href=""]) {
    cursor: pointer;
}
#ads .ad .title {
    font-weight: 600;
    margin: 0 0 5px 0;
}
#ads .ad .image {
    margin: 10px 0 0 0;
}
#ads .ad .image img {
    max-height: 200px;
    border-radius: 3px;
}
#ads .ad .ad-label {
    position: absolute;
    top: 7px;
    right: 7px;
    padding: 2px 4px;
    border-radius: 2px;
    font-size: 0.9em;
    color: #fff;
    background: #90a4ae;
}
