:root {
    --primary-color: #6574cd;
}

body {
    font-family: Roboto, Helvetica, Arial, -apple-system, "Segoe UI", sans-serif;
    font-size: 0.75em;
    background: #ececec;
}

.container-fluid {
    max-width: 1200px;
}

header {
    padding: 20px 0 0 0;
}
header a#add-notice {
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    background: none;
}
header a#add-notice:hover {
    color: #434f94;
    border-color: #434f94;
}
header a#add-notice i {
    margin: 0 1px 0 0;
}

#notices {
    padding: 20px 0 0 0;
}
#notices .notice {
    margin: 0 0 25px 0;
    padding: 11px 18px 15px 18px;
    border: 1px solid #e9e9eb;
    border-radius: 4px;
    background: #fff;
}
#notices .notice .title {
    margin: 0 0 10px 0;
    font-size: 1.2em;
    font-weight: 500;
}
#notices .notice .summary {

}
#notices .notice .content {
    
}
#notices .notice .content p:last-child {
    margin: 0;
}
#notices .notice .author {
    margin: 8px 0 2px 0;
    font-size: 0.85em;
    color: #495057;
}
#notices .notice .date {
    font-size: 0.85em;
    color: #495057;
}

/* Social */
#notices .notice .social {
    margin: 9px 0 0 0;
    color: #666;
    font-size: 0.95em;
}
#notices .notice .social a {
    color: var(--primary-color);
}
#notices .notice .social i {
    font-size: 1em;
}
#notices .notice .social .comments {
    margin: 0 20px 0 0;
}
#notices .notice .social .comments i {
    margin: 0 3px 0 0;
}

#notices .notice .social .likes a {
   margin: 0 0 0 3px;
}

#notices .notice .btn {
    margin: 10px 0 0 0;
}


#ads {
    background: #ccc;
}


.btn {
    margin: 0;
    padding: 6px 12px;
    border: none;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 400;
}
.btn:focus, .btn:active  {
    outline: none;
    border: none;
    box-shadow: none !important;
}
.btn-default {
    color: #fff;
    background: var(--primary-color);
}
.btn-default:hover {
    color: #fff;
    background: #434f94;
}

button:active, button:focus {
    outline: none;
}

/* Modal */
.modal {
    top: 0;
    padding: 20px;
}
.modal-dialog {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
.modal-content {
    width: 100%;
    margin: 0 auto;
    border-radius: 3px;
}
.modal .modal-header {
    padding: 12px 18px 10px 18px;
}
.modal .modal-header h5.modal-title {
    font-size: 1.5em;
}
.modal .modal-body p:last-child {
    margin: 0;
}
.modal .modal-footer button {
    margin: 0;
}

#notice-modal .modal-body {
    
}
#new-notice-modal .modal-dialog {
    max-width: 600px;
}

/* Pagination */
.pagination a {
    color: var(--primary-color);
}
.pagination a:focus {
    box-shadow: initial;
}
.pagination li.active a.page-link {
    color: #fff;
    border-color: #dee2e6;
    background: var(--primary-color);
}
