:root {
    --primary-color: #6574cd;
    --primary-color-darker: #434f94;
}

body {
    font-family: Roboto, Helvetica, Arial, -apple-system, "Segoe UI", sans-serif;
    font-size: 0.75em;
    background: #ececec;
}

template {
    display: none;
}

.container-fluid {
    max-width: 1200px;
}

/*--------------------------------------------------
    Header
--------------------------------------------------*/
header {
    padding: 20px 0 0 0;
}
header a#add-notice {
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    background: none;
}
header a#add-notice:hover {
    color: var(--primary-color-darker);
    border-color: var(--primary-color-darker);
}
header a#add-notice i {
    margin: 0 1px 0 0;
}

/*--------------------------------------------------
    Notices
--------------------------------------------------*/

/* Trying equal height cols */
#notices > .row {
    /* display: flex; */
    /* flex-direction: row; */
}
#notices > .row .col {
    /* flex: 1; */
    /* flex-direction: column; */
}
/* End Trying equal height cols */


#notices {
    padding: 20px 0 0 0;
}
#notices .notice {
    margin: 0 0 25px 0;
    padding: 11px 18px 15px 18px;
    border: 1px solid #e9e9eb;
    border-radius: 4px;
    background: #fff;
}
#notices .notice .title {
    margin: 0 0 10px 0;
    font-size: 1.2em;
    font-weight: 500;
}
#notices .notice .content {
    height: 80px; /* ToDo: Remove these 2 rules, and look for Bootstrap4 way of doing it or dynamic with JS */
    overflow: hidden;
}
#notices .notice .content p:last-child {
    margin: 0;
}
#notices .notice .author, #notices .notice .date {
    font-size: 0.85em;
    color: #495057;
}
#notices .notice .author {
    margin: 6px 0 2px 0;
}

/* Social */
#notices .notice .social {
    margin: 9px 0 0 0;
    color: #666;
    font-size: 0.95em;
}
#notices .notice .social a {
    color: var(--primary-color);
}
#notices .notice .social i {
    font-size: 1em;
}
#notices .notice .social .comments {
    margin: 0 20px 0 0;
}
#notices .notice .social .comments i {
    margin: 0 3px 0 0;
}
#notices .notice .social .likes a {
   margin: 0 0 0 3px;
}

/*--------------------------------------------------
    Modals
--------------------------------------------------*/
.modal {
    top: 0;
    padding: 20px;
}
.modal-dialog {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
.modal-content {
    width: 100%;
    margin: 0 auto;
    border-radius: 3px;
}
.modal .modal-header {
    padding: 12px 18px 10px 18px;
}
.modal .modal-header h5.modal-title {
    font-size: 1.5em;
}
.modal .modal-body p:last-child {
    margin: 0;
}
.modal .modal-footer button {
    margin: 0;
}

/* New Notice Modal */
#new-notice-modal .modal-dialog {
    max-width: 600px;
}
#new-notice-modal .modal-footer {
    display: none;
}

/*--------------------------------------------------
    Pagination
--------------------------------------------------*/
.pagination a {
    color: var(--primary-color);
}
.pagination a:focus {
    box-shadow: initial;
}
.pagination li.active a.page-link {
    color: #fff;
    border-color: #dee2e6;
    background: var(--primary-color);
}

/*--------------------------------------------------
    Form Elements
--------------------------------------------------*/
.btn {
    margin: 0;
    padding: 6px 12px;
    border: none;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 400;
}
.btn:active, .btn:focus, button:active, button:focus  {
    outline: none;
    border: none;
    box-shadow: none !important;
}
.btn-default {
    color: #fff;
    background: var(--primary-color);
}
.btn-default:hover {
    color: #fff;
    background: var(--primary-color-darker);
}

.form-control {
    font-size: inherit;
}
.form-control:focus {
    box-shadow: none;
    border-color: #999;
}
form label {
    margin: 0 0 3px 0;
}
form input[type="text"], form textarea {
    padding: 4px 10px;
    border-radius: 2px;
}

/* New Notice Form */
#new-notice-form {
    padding: 0 0 5px 0;
}

/*--------------------------------------------------
    Ads
--------------------------------------------------*/
#ads {
    background: #ccc;
}
