body {
    font-family: Roboto, Helvetica, Arial, -apple-system, "Segoe UI", sans-serif;
    font-size: 0.75em;
    background: #f6f8f9;
}

.container-fluid {
    max-width: 1200px; 
}

#notices {
    padding: 20px 18px 0 18px;
}
#notices .notice {
    margin: 0 0 25px 0;
    padding: 11px 18px 15px 18px;
    border: 1px solid #e9e9eb;
    border-radius: 3px;
    background: #fff;
}
#notices .notice .title {
    margin: 0 0 10px 0;
    font-size: 1.2em;
    font-weight: 500;
}
#notices .notice .summary {

}
#notices .notice .content {
    
}
#notices .notice .content p:last-child {
    margin: 0;
}
#notices .notice .author {
    margin: 8px 0 0 0;
    font-size: 0.95em;
    color: #495057;
}
#notices .notice .date {
    font-size: 0.9em;
    color: #495057;
}

/* Social */
#notices .notice .social {
    margin: 9px 0 0 0;
    color: #666;
    font-size: 0.95em;
}
#notices .notice .social a {
    color: #2aa3f0;
}
#notices .notice .social i {
    font-size: 1em;
}
#notices .notice .social .comments {
    margin: 0 10px 0 0;
}
#notices .notice .social .comments i {
    margin: 0 2px 0 0;
}


#ads {
    background: #ccc;
}


.btn {
    margin: 10px 0 0 0;
    padding: 6px 12px;
    border: none;
    font-size: 12px;
    font-weight: 400;
}
.btn:focus, .btn:active  {
    outline: none;
    border: none;
    box-shadow:none !important;
}
.btn-default {
    color: #fff;
    background: #2aa3f0;
}
.btn-default:hover {
    color: #fff;
}

button:active, button:focus {
    outline: none;
}

/* Modal */
.modal .modal-header {
    padding: 12px 18px 10px 18px;
}
.modal .modal-header h5.modal-title {
    font-size: 1.5em;
}
.modal .modal-body p:last-child {
    margin: 0;
}
.modal .modal-footer button {
    margin: 0;
}